body {
	background-image: linear-gradient(to bottom right, midnightblue, skyblue);
	color: white;
	font-family: Courier New;
}

h1 {
	padding: 20px;
	text-align: center;
}

a {
	color: yellow;
}

a:hover {
	background-color: skyblue;
}

td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
