body {
	background-color: skyblue;
	color: black;
	font-family: Arial;
}

h1 {
	padding: 20px;
	text-align: center;
}

td {
	padding: 10px;
	border-bottom: 1px solid black;
}

#center {
	width: 60%;
	margin: auto;
}